body {
    font-family: sans-serif;
    text-align: center;
    color: #000;
    background-color:blanchedalmond;
    min-width: 320PX;
    
}

header #title {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

#form-description{
    width: 75%;
    height: auto;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;
    
}


.labels {
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
    vertical-align: top;
    margin-top: 10px;
}

.rightTab {
    display: inline-block;
    text-align: left;
    width: 48%;
    vertical-align: middle;
}

.input-field {
    height: 20px;
    width: 250px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #000;
}

.age {
    width: 40px;
}

.userRatings,
input[type="checkbox"] {
    float: left;
    margin-right: 5px;
}

.dropdown {
    height: 35px;
    width: 140px;
    padding: 5px;
    margin: 10px;
    margin-top: 15px;
    border: 1px solid #000;
    border-radius: 2px;
}

.radio, 
.checkbox {
    position: relative;
    left: -43px;
    margin-left: 10px;
    display: block;
    padding-bottom: 10px;
}

textarea {
    width: 300px;
    height: 150px;
    border: 3px solid blanchedalmond;
}

#submit {
    background-color: #000;
    color: white;
    font-size: 1em;
    height: 40px;
    width: 96px;
    margin: 10px;
    border: 0px solid;
    border-radius: 5px;
    
}

/* mobile version*/
@media screen and (max-width: 833px) {
  .input-field {
    width: 80%;
  }
  select {
    width: 90%;
  }
}

@media screen and (max-width: 520px) {
  .labels {
    width: 100%;
    text-align: left;
  }
  .rightTab {
    width: 80%;
    float: left;
  }
  .input-field {
    width: 100%;
  }
  select {
    width: 100%;
  }
}
